.option-group {
    color: black;
}

.option-group img {
    max-width: 1rem;
    height: auto;
    margin: .75rem;
}

.option-button {
    width: 15rem;
    margin: .1rem;
    padding: .1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.character-table {
    display: flex;
    max-width: 70rem;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
}

.tr {
    display: flex;
    justify-content: center;
}

.character-table img {
    max-width: 3rem;
    color: white;
}

.td {
    color: white;
    border: 2px solid black;
    /*border-radius: 45px;*/
    padding: .75rem;
    margin: .1rem;
}

.option-button h3 {
    font-size: large;
}